body {
    background-color: rgb(20, 20, 20, 10%);
}

h2 {
    color: white;
}

.wrapper {
  max-width: 64em;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: rgb(20, 20, 20, 10%);
}
.radio_bottom {
  display: none;
}

.wrapper_content {
    margin: auto;
    max-width: 62em;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #333;
}

.slider {
display: flex;
  height: auto;
  overflow: hidden;
  max-width: 60rem;
  column-gap: 1rem;
}

.slide img{
  display: inline-block;
  height: inherit;
  width: 60rem;
  transition: 1s;
  object-fit: cover;
}

.description {
  max-width: 80%;
}

.wrapper_control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.control{
    display: flex;
}

label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 10px;
  width: 8px;
  border-radius: 20%;
}
label:after {
  border: 2px solid green;
  content: " ";
  display: block;
  height: 12px;
  left: -4px;
  top: -4px;
  width: 12px;
  border-radius: 20%;
}

#point1:checked ~ .control label:nth-of-type(1),
#point2:checked ~ .control label:nth-of-type(2),
#point3:checked ~ .control label:nth-of-type(3),
#point4:checked ~ .control label:nth-of-type(4) {
  background: green;
}
#point1:checked ~ .slider > .img1,
#point2:checked ~ .slider > .img2,
#point3:checked ~ .slider > .img3,
#point4:checked ~ .slider > .img4 {
  transform: none;
}
