html {
  height: 100dvh;
}

body {
  background-color: rgb(20, 20, 20, 10%);
}

h3 {
  color: white;
  margin: 0;
}

.wrapper {
  max-width: 50em;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding: 0 1em;
  background-color: #333;
  border-radius: 0.5em;
}

input {
  display: none;
}

.wrapper_content {
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.slider {
  display: flex;
  height: auto;
  width: 400%;
  margin-top: 0.5em;
}

.slide {
  width: 25%;
  transition: 0.3s;
  border-radius: 0.3em;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.5em;
}

/* .description {
  max-width: 80%;
} */

.wrapper_control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.5em;
}

.control {
  display: flex;
}

.desc {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
}

label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  margin: 0.2em;
}

.label_input {
  height: 1.5em;
  width: 1.5em;
  border-radius: 40%;
  background: white;
}

.label_input:hover {
  background: #3b33ad;
}

.check_in {
  margin-left: 0%;
}

input:nth-child(1):checked
  ~ .wrapper_control
  .control
  .control_point:nth-child(1)
  .label_input,
input:nth-child(2):checked
  ~ .wrapper_control
  .control
  .control_point:nth-child(2)
  .label_input,
input:nth-child(3):checked
  ~ .wrapper_control
  .control
  .control_point:nth-child(3)
  .label_input,
input:nth-child(4):checked
  ~ .wrapper_control
  .control
  .control_point:nth-child(4)
  .label_input {
  background: orange;
}

input:nth-child(1):checked
  ~ .wrapper_control
  .control
  label:nth-child(1):hover
  .label_input,
input:nth-child(2):checked
  ~ .wrapper_control
  .control
  label:nth-child(2):hover
  .label_input,
input:nth-child(3):checked
  ~ .wrapper_control
  .control
  label:nth-child(3):hover
  .label_input,
input:nth-child(4):checked
  ~ .wrapper_control
  .control
  label:nth-child(4):hover
  .label_input {
  background: orange;
}

input:nth-child(1):checked ~ .wrapper_control .description .desc:nth-child(1),
input:nth-child(2):checked ~ .wrapper_control .description .desc:nth-child(2),
input:nth-child(3):checked ~ .wrapper_control .description .desc:nth-child(3),
input:nth-child(4):checked ~ .wrapper_control .description .desc:nth-child(4) {
  height: auto;
  opacity: 1;
}

#point1:checked ~ .slider .check_in {
  margin-left: 0;
}

#point2:checked ~ .slider .check_in {
  margin-left: -25%;
}

#point3:checked ~ .slider .check_in {
  margin-left: -50%;
}

#point4:checked ~ .slider .check_in {
  margin-left: -75%;
}

@media (max-width: 500px) {
  .wrapper_control {
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 1em;
  }
}
